html
html
   head
      title Form Tester
   body
      form(action = "/form", method = "POST")
         div
            label(for = "user") Username:
            input(name = "user" value = "")
         br
         div
            label(for = "pass") Password:
            input(name = "pass" value = "")
         br
         button(type = "submit") Log in
